* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, header, footer, li, a, ul {
	cursor: none;
}

.custom-cursor {
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 9999;
	display: none;
}

.site-wide {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid #2d207d;
}

.site-wide .pointer {
	font-size: 15px; /* Default star size */
	color: #2d207d;
	transition: font-size 0.1s ease-in-out; /* Smooth scaling */
}

.site-wide.active .pointer {
	font-size: 25px; /* Enlarged star on active */
}