@charset "utf-8";

html {
    background-color: rgb(251,246,240);
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(255,224,178);
    margin: 0px auto;
	width: 90%;
	max-width: 1600px;
	min-width: 720px;
}

header {
	background-color: rgb(255,194,113);
	height: 125px;
	position: relative;
	border-bottom: 4px solid #33384a;
	display: flex;
    align-items: center;
    text-align: center;
	margin-top: 10px;
}

nav ul {
    list-style: none;
    text-align: center;
}

footer {
    background-color: rgb(255,194,113);
    border-top: 4px solid #33384a;
    
}