@charset "utf-8";

html {
    background-color: rgb(251,246,240);
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(255,224,178);
    margin: 0px auto;
	width: 90%;
	max-width: 1600px;
	min-width: 720px;
}

header {
	background-color: rgb(255,194,113);
	height: 125px;
	position: relative;
	border-bottom: 4px solid #33384a;
	display: flex;
    align-items: center;
    text-align: center;
	margin-top: 10px;
}

header h1 {
    padding: 15px;
    letter-spacing: 2px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #662d15;
}

nav li {
	float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #33160a5e;
    letter-spacing: 1.5px;
}

#intro p {
    font-size: 2em;
    padding-top: 10px;
}

#couch {
    padding-left: 75px;
}

.column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    max-width: 100%;
    margin: 20px auto;
    padding: 0 10px;
    box-sizing: border-box;
}

#left {
    font-size: 1.5em;
    line-height: 1.7em;
    text-align: center;
    width: 95%;
    padding-top: 10px;
}

#checkoutSummary li {
    list-style-type: none;
}

#checkoutSummary h3{
    padding-left: 35px;
}


footer {
    background-color: rgb(255,194,113);
    border-top: 4px solid #33384a;
    text-align: center;
    
}